doctype html
html
  head
    meta(charset="utf-8")
    title 详细信息
    link(rel = "stylesheet" href = "./css/index.css" type = "text/css")
  body
    div(id = "infor")
      h1 用户详情
      div(id = "line")
      ul
        li 用户名: #{name}
        li 学号: #{ip}
        li 电话: #{phone}
        li 邮箱: #{mail}